@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html{
  height: 100%;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
}

.page-container{
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main-container{
  flex-grow: 1;
}

.container{
  width: 1060px;
  margin: 0 auto;
}

.main-header{
  display: flex;
  justify-content: space-between;
}

.main-header-left{
  display: flex;
}

.main-navigation{
  margin-left: 30px;
}

.main-navigation a{
  text-decoration: none;
}

.navigation-link{
  color: #000000;
}

.navigation-list{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  display: flex;
  width: 464px;
  list-style-type: none;
}

.navigation-user{
  width: 312px;
}

.navigation-item{
  padding: 16px 20px;
}

.navigation-button{
  padding: 22px 12px;
}

.favorites-badge{
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: #7DB54F;
  color: #ffffff;
}

.button{
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-wrap: nowrap;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
}

.base-button{
  color: #ffffff;
  background: #756157;
}

.button-second{
  color: #ffffff;
  background: #82B3D3;
}

.button-alpha{
  color: #ffffff;
  background: none;
}

.button-selected{
  color: #ffffff;
  background: #7DB54F;
}

.main-index{
  text-align: center;
}

.hero{
  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #7DB54F;
}

.advantages-list, .features-list, .social-list, .view-type-list, .catalog-breadcrumbs-list, .pagination-list, .catalog-filter-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-list, .features-list{
  display: flex;
  width: 100%;
}

.advantages-list{
  flex-wrap: wrap;
}

.advantages-item{
  background-color: #83B3D31F;
}

.advantages-medium{
  background-color: #83B3D333;
}

.advantages-item-media{
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item-media .advantages-item-description{
  color: #ffffff;
}

.advantages-title, .features-title, .booking-title, .subscription-title, .hotels-counter{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description, .features-description, .booking-description, .subscription-description{
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-item-title, .features-item-title, .hotel-card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-description, .features-item-description{
  color: #333333;
}

.features-item:nth-child(odd){
  background-color: #83B3D31F;
}

.features-item:nth-child(even){
  background-color: #ffffff;
}

.booking-button{
  font-size: 20px;
  line-height: 36px;
}

.subscription-decorated{
  background-image: url("../images/subscription-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #7DB54F;
  color: #ffffff;
}

.subscription-decorated-description{
  color: #ffffff;
}

.subscription-form-button{
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
}

.main-footer{
  display: flex;
  justify-content: space-between;
}

.social-list{
  display: flex;
}

.contacts-phone{
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.hotels-catalog{
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #7DB54F;
  color: #ffffff;
}

.hotels-catalog-title{
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-breadcrumbs-list{
  margin: 0;
  padding: 0;
  display: flex;
}

.catalog-breadcrumbs-link{
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter-form{
  display: flex;
  justify-content: space-between;
}

.catalog-filter-form-left{
  width: 370px;
}

.catalog-filter-form-right{
  width: 549px;
}

.catalog-filter-form-left, .catalog-filter-form-right{
  display: flex;
  gap: 70px;
}

.catalog-filter-group{
  padding: 0;
  margin: 0;
}

.catalog-filter-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-group-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.control{
  font-size: 18px;
  line-height: 23px;
}

.select-control{
  background-color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-top{
  display: flex;
  justify-content: space-between;
}

.catalog-menu{
  display: flex;
  gap: 70px;
}

.view-type-list{
  display: flex;
  gap: 8px;
}

.hotel-card-link{
  color: #000000;
  text-decoration: none;
}

.hotel-card-title{
  text-transform: capitalize;
}

.hotel-card-bottom{
  color: #333333;
}

.hotel-rating{
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-list{
  display: flex;
  gap: 8px;
}

.pagination-button{
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  background-color: #82B3D3;
  color: #ffffff;
}

.pagination-button-active{
  background-color: #F2F2F2;
  color: #000000;
}
